@font-face {
    -fx-font-family: "OpenSans";
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

* {
    -fx-font-family: OpenSans;
}

#loginButton {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.pretty-box {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

/*noinspection CssUnusedSymbol*/
.table-view .scroll-bar {
    -fx-background-color: #282828;
}

/*noinspection CssUnusedSymbol*/
.table-view .thumb {
    -fx-background-color: #1d2021;
}

#main-header {
    -fx-font-weight: bold;
}

/*noinspection CssUnusedSymbol*/
.table-view .filler {
    -fx-background-color: #282828;
}

/*noinspection CssUnusedSymbol*/
.table-view {
    -fx-background-color: none;
    -fx-font-size: 16px;
    -fx-border-radius: 5px 5px 5px 5px;
}

/*noinspection CssUnusedSymbol*/
.table-cell {
    -fx-font-size: 16px;
    -fx-text-fill: #ddc7a1;
}

/*noinspection CssUnusedSymbol*/
.table-view .column-header {
    -fx-background-color: #282828;
}

/*noinspection CssUnusedSymbol*/
.table-view .column-header:hover {
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.table-column .column-header-background {
    -fx-text-fill: #fbf1c7;

    -fx-background-color: #1d2021;
}

/*noinspection CssUnusedSymbol*/
.table-view .table-row-cell {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #1d2021;
}


/*noinspection CssInvalidPseudoSelector,CssUnusedSymbol*/
.table-view .table-row-cell:odd:is-today:selected,
.table-view .table-row-cell:selected,
.table-view .table-row-cell:odd:selected,
.table-view .table-row-cell:is-today:selected,
.table-view .table-row-cell:is-late:selected,
.table-view .table-row-cell:odd:is-late:selected {
    -fx-effect: innershadow(three-pass-box, #ffffff22, 30, 0, 0, 0);
}

/*noinspection ALL,CssUnusedSymbol*/
.table-view .table-row-cell:extern-note {
    -fx-font-style: italic;
    -fx-font-size: 30px;
}

/*noinspection CssUnusedSymbol*/
.table-view .table-row-cell:odd {
    -fx-background-color: #282828;
}


/*noinspection CssInvalidPseudoSelector,CssUnusedSymbol*/
.table-view .table-row-cell:is-today {
    -fx-background-color: #32361a;
}


/*noinspection CssInvalidPseudoSelector,CssUnusedSymbol*/
.table-view .table-row-cell:odd:is-today {
    -fx-background-color: #32361a;
}

/*noinspection CssInvalidPseudoSelector,CssUnusedSymbol*/
.table-view .table-row-cell:is-late {
    -fx-background-color: #442e2d;
}

/*noinspection CssInvalidPseudoSelector,CssUnusedSymbol*/
.table-view .table-row-cell:odd:is-late {
    -fx-background-color: #442e2d;
}

/*noinspection CssUnusedSymbol*/
.table-column .label {
    -fx-text-fill: #ddc7a1;
    -fx-alignment: center-left;
}

/*noinspection CssUnusedSymbol*/
.table-view .table-cell {
    -fx-border-color: #48484833;
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #ddc7a1;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-radius: 0;
}

.menu-btn:hover {
    -fx-cursor: hand;
    -fx-text-fill: #ccc;
    -fx-underline: true;
}

.common-text-input {
    -fx-background-color: #1d2021;
    -fx-text-fill: #fbf1c7;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #a89984;
}

/*noinspection CssUnusedSymbol*/
.text-area {
    -fx-text-fill: #fbf1c7;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
}

/*noinspection CssUnusedSymbol*/
.text-area .content {
    -fx-background-color: #1d2021;
    -fx-border-color: #1d2021;
    -fx-text-fill: #dad5cb;
    -fx-font-size: 16px;
}

.common-btn {
    -fx-background-color: #fbf1c7;
    -fx-border-color: none;
    -fx-font-weight: bold;
}

.common-btn:hover {
    -fx-background-color: #7daea3;
    -fx-underline: true;
    -fx-cursor: hand;
}

/*noinspection CssUnusedSymbol*/
.date-picker .text-field {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #1d2021;
    -fx-border-color: #1d2021;
}

/*noinspection CssUnusedSymbol*/
.date-picker {
    -fx-background-color: #1d2021;
    -fx-border-color: #1d2021;
}


/*noinspection CssUnusedSymbol*/
.choice-box .label {
    -fx-text-fill: #fbf1c7;
}

/*noinspection CssUnusedSymbol*/
.choice-box .context-menu {
    -fx-background-color: #1d2021;
}

/*noinspection CssUnusedSymbol*/
.color-picker .context-menu {
    -fx-background-color: #1d2021;
}

/*noinspection CssUnusedSymbol*/
.color-picker .label {
    -fx-text-fill: #fbf1c7;
}

#note-header {
    -fx-fill: #fbf1c7;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

/*noinspection CssUnusedSymbol*/
.check-box .text {
    -fx-fill: #fbf1c7;
}

.error-btn:hover {
    -fx-background-color: rgb(255, 142, 142);
}

.input-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #ddc7a1;
}